<div class="col-12 justify-content-center">
  <form (ngSubmit)="login()">
    <div class="col-sm-12 col-md-6">
      <label for="userName">Benutzername</label>
      <input type="text" class="form-control" [(ngModel)]="userName" id="userName" name="userName">
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="password">Passwort</label>
      <input type="password" class="form-control" [(ngModel)]="password" id="password" name="password">
    </div>
    <div class="col-sm-12 col-md-6" *ngIf="error">
      <div class="alert alert-danger">
        {{error}}
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <button class="btn btn-primary" type="submit">Anmelden</button>
    </div>
  </form>
</div>
